/* General Styling: */
/* -------------------------------------------------- */

* {
  font-family: "SN Pro", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

/* Header: */

header {
  position: relative;
  text-align: center;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: lightgray;
  z-index: -1;
  mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

h1 {
  margin: 0;
  padding: 1rem;
  font-size: 5rem;
  display: inline-block;
}

nav {
  padding-bottom: 1rem;
}

/* Main: */

main {
  min-height: 100vh;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
  font-weight: 500;
}

figure {
  text-align: center;
}

/* Footer: */

footer {
  position: relative;
  text-align: center;
}

footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  background-color: lightgray;
  mask-image: linear-gradient(to top, black 10%, transparent 100%);
  z-index: -1;
}

footer p {
  margin: 0;
}

/* Class Styling: */
/* -------------------------------------------------- */

/* Navigation Button: */

.nav-btn {
  background-color: white;
  display: inline-block;
  text-decoration: none;
  color: black;
  border: 0.125rem solid black;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: 600;
  transition: 0.3s;
  font-size: 1.5rem;
}

.nav-btn:hover {
  background-color: black;
  color: white;
}

.nav-btn:active {
  transition: none;
  background-color: green;
  border-color: green;
}

/* Circular Image */

.img-circle {
  mask-image: radial-gradient(circle closest-side, black 95%, transparent 100%);
  margin: 1rem;
}

/* Skills Preview Section Classes */

.skills-list {
  display: inline-block;
  font-size: 2.25rem;
}

/* Contact Info Table */

.contact-info-table {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  font-size: 1.5rem;
}

.contact-info-table::before {
  content: "";
  background-color: lightgray;
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  z-index: -1;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 35%,
    black 65%,
    transparent 100%
  );
  padding: 4rem;
}

.contact-info-table .nav-btn {
  margin: 2rem;
  padding: 0.5rem;
}

/* Skill Page Sections */

.skill {
  max-width: 75vw;
  padding-bottom: 1rem;
}

.about {
  max-width: 75vw;
  padding-bottom: 1rem;
}

/* ID Styling: */
/* -------------------------------------------------- */

/* Skills Preview Section */

#skills-preview {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* Contact Info Section */

#contact-info {
  text-align: center;
}

#skills-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
